html {
  font-family: "Didact Gothic", sans-serif;
  margin: 0;
}

nav {
  font-family: "Roboto", sans-serif;
  display: inline-block;
}

nav li {
  display: inline-block;
}

nav a {
  color: #000;
}

a:hover {
  color: #5e02ad;
}

.callaction {
  color: #000;
  background-color: #fff;
  border-radius: 28px;
  border-width: 2px;
  text-decoration: none;
  padding: .7em;
  display: inline-block;
  margin: 1em;
}

.content {
  position: absolute;
  width: 100%;
  bottom: .5rem;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  text-align: center;
}

.sign-up-content {
  position: absolute;
  width: 100%;
  bottom: .5rem;
  left: 50%;
  top: 10%;
  color: #fff;
  text-align: center;
}

.banner {
  position: relative;
  max-height: 500px;
  overflow: hidden;
}

.bg-image {
  background-image: url("../images/banner-img.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 2000px 1000px;
  background-attachment: fixed;
}

.text {
  z-index: 3;
}

h2 {
  color: #fff;
  display: inline;
}

.vault {
  width: 20%;
}

h3 {
  text-align: center;
}

.learnmore {
  border-color: #5e02ad;
  border-width: medium;
  border-style: solid;
  padding: .4em;
  margin: 0;
}

.clicks {
  background-color: #440277;
}

.white {
  color: #fff;
}

.logo {
  font-family: "Didact Gothic", sans-serif;
}

.signup {
  background-color: #440277;
  color: #fff;
  margin: 0;
  padding: .3em;
}

.signup:hover {
  color: #ef375f;
}

.black {
  color: #000;
}

.sectionline {
  border-bottom: 1px solid #7f7f7f;
}

.roboto {
  font-family: "Roboto", sans-serif;
}

.topnav {
  background-color: #fff;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 99;
}

.purple {
  color: #440277;
}

footer {
  border-top: 1px solid #7f7f7f;
  background-color: #fff;
  display: block;
  width: 100%;
}

footer nav {
  background-color: white;
  width: 100%;
}

input, select {
  color: #000;
}

label {
  text-align: left;
}

.event-purple {
  background-color: #440277;
  border-radius: 8px;
  color: #fff;
}

td {
  border: 1px solid #ccc;
}

.purple-background {
  background-color: #440277;
}

.cards {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}

.cards li {
  display: inline-block;
  margin: 0 .5em 1em;
  padding: 1em;
  background-color: #fff;
  border-radius: 20px;
  text-align: left;
}

.pink {
  color: #9701aa;
}

.cards li dt {
  max-width: 10em;
}

form label {
  color: #fff;
}
